<!-- Signup form - Reactive approach -->
<div class="panel panel-primary">
  <div class="panel-heading">SignUp</div>
  <div class="panel-body">
    <form [formGroup]="form">
      <div class="form-group" [ngClass]="username.touched && username.invalid ? 'has-error' : 'has-success'">
        <label for="username">Username</label>
        <input formControlName="username" type="text" id="username" class="form-control">
        <div class="help-block" *ngIf="username.touched && username.invalid">
          <!-- Adding Specific Validations -->
          <div *ngIf="username.errors.required">Username is required.</div>
          <div *ngIf="username.errors.minlength">Username should have min {{username.errors.minlength.requiredLength}} chars.</div>
          <!-- Using Custom Validator -->
          <div *ngIf="username.errors.cannotContainSpace">Username shouldn't have spaces.</div>
          <!-- Using Custom Asynchronous Validator -->
          <div *ngIf="username.errors.shouldBeUnique">Username should be unique.</div>
        </div>
      </div>
      <div class="form-group" [class.hasError]="password.touched && password.invalid">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control">
          <div class="help-block" *ngIf="password.touched && password.invalid">
            <!-- Adding Specific Validations -->
          <div *ngIf="password.errors.required">Password is required.</div>
          <div *ngIf="password.errors.minlength">Password should have min {{password.errors.minlength.requiredLength}} chars.</div>
          </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

