<!-- Bootstrap contact form -->
<div class="panel panel-info">
  <div class="panel-heading">Contact Form</div>
  <div class="panel-body">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <!-- ngModelGroup -->
      <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="contact.valid">
          <!-- group validation markup goes here-->
        </div>
        <div class="form-group" [class.has-error]="firstName.touched && firstName.control.invalid">
          <label for="firstName">First Name</label>
          <!-- Using ngModel template driven approach
                  a new FormControl object is created for the field -->
          <input ngModel required minlength="3" maxlength="10" pattern="/[a-z]{3,10}/" name="firstName" #firstName="ngModel" (change)="log(firstName)"
            type="text" id="firstName" class="form-control">
          <div class="help-block" *ngIf="firstName.touched && firstName.control.invalid">
            <!-- multiple validations -->
            <div *ngIf="firstName.errors.required">FirstName should be required</div>
            <div *ngIf="firstName.errors.minlength">FirstName should have min {{ firstName.errors.minlength.requiredLength}} chars</div>
            <div *ngIf="firstName.errors.pattern">FirstName doesn't match the pattern</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <!-- checkbox -->
      <div class="form-group">
        <div class="checkbox">
          <label>
              <input type="checkbox" ngModel name="isSubscribed">  Subscribe to mailing List
          </label>
        </div>
      </div>
      <!-- dropdown list -->
      <div class="form-group">
        <label for="contactMethods">Contact Methods</label>
        <select multiple ngModel name="contactMethods" id="contactMethods" class="form-control">
          <option *ngFor="let method of contactMethods" [value]="method.id">
            <!-- use [ngValue]="method" if you want to send the actual object to the server -->
            {{method.name}}
          </option>
        </select>
      </div>
      <!-- radio buttons -->
      <div class="radio" *ngFor="let method of contactMethods">
        <label>
          <input type="radio" name='contactMethod' ngModel [value]="method.id">
          {{method.name}}
        </label>
      </div>
      <p>
        {{ form.value | json }}
      </p>
      <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
