
<ul class="nav nav-pills">
  <!-- class binding and event binding -->
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
  <!-- use [ngSwitch] property binding -->
<div [ngSwitch]="viewMode">
  <!-- then use the  *ngSwitchCase to render different views-->
  <div *ngSwitchCase="'map'">Map Content</div>
  <div *ngSwitchCase="'list'">List Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
<hr>

<!-- *ngFor with exported values of ngForOf directive -->
<h4>Students</h4>
<button class="btn btn-primary" (click)="add()">Add Student</button><hr>
<ul class="list-group">
  <!-- for localvariables of ngForOf goto https://angular.io/api/common/NgForOf
    index is number, [first, last, even, odd] are boolean
  -->
  <li class="list-group-item" *ngFor="let student of students; index as i; even as isEven">
    {{i}} . {{ student.name }} <span *ngIf="isEven">-Even</span>
    <button class="btn btn-danger" (click)="remove(student)" >Remove</button>
  </li>
</ul>
<hr>
<h4>Courses</h4>
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button><hr>
<ul class="list-group">
  <!-- using 'trackBy' for better performance while rendering large lists of data  -->
  <li class="list-group-item" *ngFor="let course of courses; trackBy: trackCourses">
    {{ course.name }}
  </li>
</ul>
<!-- [ngStyle] -->
<button
  [ngStyle]="{
    'background-color': canSave ? 'red' : 'green',
    'color': canSave ? 'white' : 'black'
  }"
>Save</button>
