<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<!-- Contact Form -->
<contact-form></contact-form>

<app-panel>
  <!-- ng-content use-->
  <div class="heading">
      <h2>App courses</h2>
  </div>
  <div class="body">
    <!-- ngIf with then and else -->
    <!-- For large DOM trees use *ngIf -->
      <div *ngIf="courses.length>0; then coursesList else noCourses"></div>
      <ng-template #coursesList>
         Courses exist! :)
      </ng-template>
      <ng-template #noCourses>
        <!-- Using the template variable noCourses for else case -->
        No Courses exist!
      </ng-template>

      <!-- Hidden property approach -->
      <!-- For short DOM trees use the [hidden] property approach -->
      <div [hidden]="courses.length == 0">
        Courses Exist 1111
      </div>
      <div [hidden]="courses.length > 0">
        No Couses Exist 0000
      </div>
  </div>
</app-panel>
<!-- <app-courses></app-courses>
<hr>
<app-like [is-liked]="post.isLiked" (change)="isChanged($event)"></app-like>
<span class="glyphicon glyphicon-heart"></span>
<hr>
<app-authors></app-authors> -->

<app-tabs></app-tabs>
<hr>



