<div class="panel panel-primary">
  <div class="panel-heading">Posts Titles</div>
  <div class="panel-body">
    <!-- POST Data -->
    <h3>Add Post</h3>
    <input
        (keyup.enter)="createPost(title)"
        #title
        type="text"
        class="form-control">
    <hr>
    <!-- GET Data -->
    <ul class="list-group">
      <li *ngFor="let post of posts" class="list-group-item">
        <!-- Update post -->
        <button (click)="updatePost(post)" class="btn btn-default btn-sm">Update</button>
        <!-- Delete Post -->
        <button (click)="deletePost(post)" class="btn btn-danger btn-sm">Delete</button>
        {{ post.title }}
      </li>
    </ul>
  </div>
</div>
