<div class="jumbotron">
  <h1 class="display-4">{{authors.length}} Authors</h1>
</div>
<ul>
  <li *ngFor="let author of authors">{{author}}</li>
</ul>
<button class="btn btn-primary" [class.active]="isActive" [style.borderColor]="isActive ? 'yellow': 'red'">
  Add Author</button>
<!-- event binding using () for events raised from DOM like click, keypress etc..-->
<div (click)="onDivClick()">
  <!-- Event Bubbling - events bubbles up on the DOM tree -->
  <button class="btn btn-secondary" (click)="onClick($event)">Save Author</button>
</div>
<hr>
<!-- event filtering in angular using . operator  -->
<!-- Template Variables ex #email -->
<input type="email" #email (keyup.enter)="onKeyUp(email.value)"/>

<!-- Two Way binding -->
<!-- Using [(ngModel)] directive -->
<input type="email" [(ngModel)]="emails" (keyup.enter)="keyUp()" />
